/*Elimina os Espacamentos internos (padding) e Externos (margin)*/
*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: linear-gradient(rgb(41, 40, 40), rgb(151, 151, 151));
}

/* Seção do Header*/
header{
    width: 100%;
    height: 500px;
    background-color: #a646ff;

    /*Coloca Imagem de fundo pelo CSS*/
    background-image: url(../img/graycode.jpg);

    /*Faz a imagem não se repetir na tag*/
    background-repeat: no-repeat ;

    /*Permite ajustar a posição da imagem*/
    background-position: center;

    /*Permite ajustar o tamanho da imagem de acordo com o especo da tag vinculada*/
    background-size: cover;
} 

/*Seção do Menu*/
#menu{
    width: 100%;
    height: 80px;
    background-color: #1f1f1f;
}


/*Seção do Main (conteúdo)*/
main{
    width: 1400px;

    /*Configuracao para deiar o elemento HTML crescendo conforme o seus conteúdo*/
    min-height: 1000px;   /*Altura Minima*/
    height: auto;   /*Altura Automatica*/
    overflow: hidden; /*Desabilita a barra de rolagem da DIV*/

    background-color: #ffffff;

    /*Centraliza qualquer objeto no navegador*/
    margin-left: auto;
    margin-right: auto;
}
/*Seção dos Produtos*/
#produtos{
    width: 100%;
    min-height: 1000px;
    height: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 30px;

}

.card-produto{
    width: 350px;
    height: 550px;
    background-color: #ffffff;

    /*Permite alinhar elementos na horizontal*/
    float: left;

    /*Permite definir o espacamento entre os cards*/
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 20px;

    /*Altera o Sombreamento Externo da Imagem*/
    box-shadow: 6px 3px 15px #1f1f1f;
}

.card-produto h2{
    width: 100%;
    height: 50px;
    background-color: #202020ec;
    color: #fcfcfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    text-align: center;
}
.card-produto figure{
    width: 80%;
    height: 250px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.card-produto figure img {
    width: 100%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card-produto p{
    width: 80%;
    height: 80px;

    margin-left: auto;
    margin-right: auto;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    text-align: justify;
    line-height: 1.5;
    padding-top: 5px;
}

.valor-antigo, .valor-atual{
    display: block; /*Transforma a TAG SPAN em um bloco de contéudo, assim podemos trabalhar com tamanho, altura e alinhamento*/
    width: 80%;
    height: 30px;
    text-align: justify;
    text-decoration: line-through;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.514);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.valor-atual{
    font-size: 1.2em;
    color: rgb(245, 60, 36);
    font-weight: bold;
    text-decoration: none;
}

.comprar{
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9938f5;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    /*Arrendonda as bordas da caixa do objeto*/
    border-radius: 30px;
}

.comprar:hover{
    cursor: pointer;
    background-color: #c089f3;
    transition: 0.5s;
}

/*Seção do Footer*/
footer{
    width: 100%;
    height: 30px;
    background-color: #1f1f1f;
}


